body {
    background-color: #F6F6F6;
    font-family: "DM Sans", sans-serif;
    margin: 0;
    overflow-y: scroll;
    overflow-x: hidden;
}

.TextBox {
    background: url('Icons/search.png') no-repeat;
    position: absolute;
    margin: -5px 0px 0px 300px;
    background-size: 30px 30px;
    background-position: 5px center;
    border: 0;
    width: 330px;
    height: 30px;
    background-color: #7FAE92;
    box-shadow: 0px 0px 5px rgb(59, 103, 67);
    border-radius: 4px;
    padding-left: 40px;
    color: white;
    font-size: 16px;
}

.Logo {
    background: url('Icons/logo.png') no-repeat;
    position: absolute;
    margin: 5px 0px 0px 50px;
    background-size: 30px 30px;
    width: 330px;
    height: 30px;
    padding-left: 40px;
    font-size: 16px;
}

a {
    color: inherit;
    text-decoration: none;
}

.Menu {
    background-color: hsl(144, 57%, 80%);
    color: white;
    width: auto;
    height: 70px;
}

.Menuleft {
    background-color: #AFE9C6;
    height: 2500px;
    width: 248px;
    padding-top: 40px;
}

.currentbtn {
    background-color: #58695F;
}

.img {
    width: 18px;
    height: 18px;
    padding-right: 8px;
    padding-left: 5px;
    overflow: hidden;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

button {
    border: 0;
    background-color: #7FAE92;
    text-align: left;
    width: 155px;
    border-radius: 4px;
    margin-bottom: 10px;
    margin-left: 35px;
    padding: 3px;
    color: white;
    box-shadow: 0px 0px 5px rgb(59, 103, 67);
    cursor: pointer;
}

button {
    transform: translateY(0);
    transition: transform 0.2s ease-in-out;
}

button:hover {
    transform: translateY(-2px);
}

.Information {
    transform: translateY(0);
    transition: transform 0.5s ease-in-out;
}

.Information:hover {
    transform: translateY(-5px);
}

.Information {
    position: absolute;
    padding: 20px;
    width: 650px;
    height: 250px;
    margin-left: 270px;
    margin-top: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.TextBox::placeholder {
    color: white;
    opacity: 1;
}

.FooterButtons {
    padding-top: 100%;
}

.Cars > div {
    display: flex;
    flex-wrap: nowrap;
    background-color: #f1f1f1;
    margin-left: 270px;
    line-height: 20px;
}

.CarContainer {
    position: absolute;
    z-index: 10;
    margin: 5% auto;
    padding: 20px;
    max-width: 350px;
    width: 100%;
    box-sizing: border-box;
    background-color: rgba(215, 215, 215, 0.375);
    border: 1px solid #000000;
    box-shadow: 2px 2px 0px #000000;
    border-radius: 10px;
    transform: translateY(0);
    transition: transform 0.5s ease-in-out;
}

.CarInfo h1 {
    font-size: 20px;
}

.CarInfo p {
    margin: 5px 0;
}

.CarInfo .Car {
    width: 100%;
    height: auto;
}

.CarInfo .HeartIcon {
    width: 20px;
    float: right;
    margin-right: 10px;
    cursor: pointer;
}

.CarDetails {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.DetailIcon {
    width: 20px;
    margin-right: 5px;
}

.CarPrice {
    font-size: 20px;
    color: #000;
}

.CarPrice b {
    color: #A8A8A8;
}

.Options {
    border: 3px rgb(255, 255, 255);
    border-radius: 10px;
    border-style: solid;
}

.CarContainer:hover {
    transform: translateY(-5px);
    transition: transform 0.3s ease-in-out;
}

.test {
    color: rgb(50, 50, 255);
    transition: color 1s ease-in-out;
}

.test:hover {
    color: red;
    transition: color 0.2s ease-in-out;
}

.Start, .Start > img {
    position: absolute;
    margin-top: 10px;
    right: 10px;
    width: 30px;
}

.Messages {
    position: absolute;
    color: white;
    padding: 20px;
    width: 1000px;
    height: 850px;
    margin-left: 270px;
    margin-top: 20px;
    background-color: #64806F;
    box-shadow: 0px 0px 10px rgb(119, 153, 126);
    border-radius: 8px;
}

.Settings {
    position: absolute;
    color: white;
    padding: 20px;
    width: 1000px;
    height: 850px;
    margin-left: 270px;
    margin-top: 20px;
    background-color: #64806F;
    box-shadow: 0px 0px 10px rgb(119, 153, 126);
    border-radius: 8px;
}

.InfoBox::placeholder {
    color: white;
    opacity: 0.7;
}

.InfoBox {
    background: url('Icons/home.png') no-repeat;
    background-size: 20px 20px;
    background-position: 10px;
    width: 323px;
    height: 35px;
    background-color: #64806F;
    border: 1px solid white;
    border-radius: 5px;
    padding-left: 40px;
    color: white;
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.2);
    
}

.MessagesBox1 {
    position: absolute;
    color: white;
    width: 530px;
    height: 25px;
    margin-left: 410px;
    background-color: rgb(100, 128, 111);
    padding: 30px;
    border-width: 3px;
    border-style: solid;
    border-color: black;
    border-radius: 8px;
    z-index: 1;
}

.MessagesBox2 {
    position: absolute;
    color: white;
    width: 530px;
    height: 800px;
    margin-left: 410px;
    background-color: rgb(100, 128, 111);
    padding: 30px;
    border-width: 3px;
    border-style: solid;
    border-color: black;
    border-radius: 8px;
}

input {
    color-scheme: dark;
}

.SellCar {
    background-color: #58695F;
    border-radius: 7px;
}

.Offers {
    position: absolute;
    color: white;
    padding: 20px;
    width: 1000px;
    height: 850px;
    margin-left: 270px;
    margin-top: 20px;
    background-color: #64806F;
    box-shadow: 0px 0px 10px rgb(119, 153, 126);
    border-radius: 8px;
}

.imagesize {
    background-repeat: no-repeat;
    background-size: 40%;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin-top: 100px;
    width: 100px;
    height: 30px;
    background-color: rgb(255, 49, 49);
    height: 30px;
    width: 100px;
    display: flex;
    margin-left: 20px;
}

.buttonimage {
    width: 40px;
}

.seconddealer {
    margin-top: 210px;
    position: absolute;
}

.thirddealer {
    margin-top: 420px;
    position: absolute;
}

.claudia {
    height: 50px;
    width: 50px;
}

.CarData {
    position: absolute;
    text-align: start;
    margin-left: 690px;
    margin-top: 1500px;
}

.textts {
    margin-top: 70px;
    margin-left: -50px;
}

.CarData2 {
    position: absolute;
    text-align: start;
    margin-left: 1050px;
    margin-top: 1554px;
}

.vehiclehistory {
    position: absolute;
    text-align: start;
    margin-left: 640px;
    margin-top: 1920px;
}

.vehiclehistory2 {
    position: absolute;
    text-align: start;
    margin-left: 1050px;
    margin-top: 1920px;
}

.technicaldata {
    position: absolute;
    text-align: start;
    margin-left: 640px;
    margin-top: 2260px;
}

.technicaldata2 {
    position: absolute;
    text-align: start;
    margin-left: 1050px;
    margin-top: 2260px;
}

.allmessages {
    overflow: scroll;
    height: 450px;
    width: 375px;
    overflow-x: hidden;
}

.allmessages>div {
    padding: 300px;
}

button.AE {
    border: 0;
    background-color: #7fae9200;
    text-align: left;
    width: 335px;
    border-radius: 0px;
    margin-bottom: 0px;
    margin-left: -2px;
    color: white;
    cursor: pointer;
    box-shadow: none;
    font-size: 1rem;
    padding-bottom: 10px;
    height: 70px;
}

button.AE:hover {
    transform: translateX(5px);
    border: solid 1px black;
    background-color: #445c4e;
}

.pftext {
    margin-left: 100px;
    width: 130px;
    margin-top: -45px;
}

.notificationball {
    margin-left: 140px;
    margin-top: -30px;
    position: absolute;
}

.notificationball2 {
    margin-left: 240px;
    margin-top: -30px;
    position: absolute;
}

.capture {
    position: absolute;
    margin-left: 420px;
    width: 575px;
    height: 755px;
}

.textBox {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #64b283;
    box-shadow: 0px 0px 10px rgb(92, 226, 119);
    border-radius: 8px;
    padding: 14px;
    display: inline-block;
    max-width: 80%;
    word-wrap: break-word;
    color: white;
    font-family: Arial, sans-serif;
}